* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fira sans", sans-serif;
}
main {
  padding: 16px;
}

img {
  display: block;
  // sets img center
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 16px;
}

.button {
  display: inline-block;
  text-align: center;
  background-color: skyblue;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.has-spacer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .spacer {
    //   take up the remaining space inside of the area?

    flex: 1 1 0%;
  }
}
//butonu sona atmak için
.align-self-end {
  align-self: flex-end;
}

.flex-grid {
  // when u are on mobile u dont want use flex
  display: block;
  padding-top: 150px;

  //   so we made flex for dif size of pixels
  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    // alignı kaldırırsak uzunlukları eşit olacak
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -8px;
  }

  @media (min-width: 960px) {
    padding-top: 0px;
  }

  @media (min-width: 1200px) {
    padding-top: 150px;
  }

  .col {
    margin-bottom: 16px;
    padding: 16px;
    background-color: salmon;
    border-radius: 16px;

    width: 100%;
    @media (min-width: 768px) {
      flex: 1 1 100%;
      margin: 0px 8px 16px;
      max-width: calc(50% - 16px);
      min-height: 400px;

      &:nth-child(2n-1) {
        margin-top: -100px;
      }
    }

    @media (min-width: 960px) {
      max-width: calc(33.33% - 16px);
      &:nth-child(2n-1) {
        margin-top: -100px;
      }
    }
    @media (min-width: 1200px) {
      max-width: calc(25% - 16px);
    }
  }
}
