:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #808080;
  --light: #eee;
  --pink: #EC48999;
  --purple: #885cf6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: var(--light);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input,
button {
  border: none;
  outline: none;
  appearance: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
}
