@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  font-family: "roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f7f4;
}

.page-size {
  max-width: 1300px;
  /* margin-right: 200px;
  margin-left: 200px; */
  margin: 0 auto;
}
.navbar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid;
}

.filter-buttons {
  margin: 0 6px;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: transparent;
  font-size: 14px;
}
.persons-infos {
  display: grid;
  margin: 1em auto 0;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.info-card {
  margin: 1em 1em;
  height: auto;
}
